@import "tailwindcss";

@theme {
  --darker_pink: #FD7979;
  --medium_pink: #FDACAC;
  --bg_pink: #FAE1DF;
  --lightest_pink: #FDF0EF;
  --dark-medium-pink: #FAE1DF;
  --darker_pink-glow: rgba(253, 121, 121, 0.5);
}